1. caricare i dati in un dataframe e studiare le informazioni inserite per capire di che cosa si tratta

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/CappuCitti/Python-appunti-ed-esercizi/main/Pandas/Data/uffici_postali_milano.csv")
df

                      Indirizzo  ...                                Location
0     BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1   CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
3             CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
4              CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
..                          ...  ...                                     ...
77              VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78       VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79          VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80       VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81               VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[82 rows x 10 columns]

2. visualizzare solo la prima colonna

In [ ]:
df.iloc[:,[0]]

                               Indirizzo
0              BASTIONI DI PORTA VOLTA 7
1            CORSO DI PORTA VIGENTINA 35
2                         CORSO ITALI 16
4                       CORSO VENEZIA 42
5   LARGO GIOVANNI BATTISTA SCALABRINI 5
..                                   ...
77                       VIALE GORIZIA 6
78                VIALE MONTE CENERI SNC
79                   VIALE SABOTINO 21/A
80                VIALE SAN GIMIGNANO 10
81                        VIALE ZARA 131

[77 rows x 1 columns]

3. Visualizzare solo l'ultima colonna colonna

In [ ]:
df.iloc[:,[-1]]

                                  Location
0    (45.47960100000006;9.182151000000033)
1    (45.45253800000006;9.196519500000022)
2    (45.45789300000007;9.187470000000076)
3     (45.48654000000005;9.15850800000004)
4    (45.47186100000005;9.202702500000044)
..                                     ...
77  (45.454518000000064;9.173155500000064)
78   (45.49156751800007;9.153591732000052)
79  (45.451017000000036;9.200173500000062)
80  (45.455868000000066;9.136525500000062)
81   (45.50019300000008;9.196686000000057)

[82 rows x 1 columns]

4. Visualizzare le colonne dalla terza alla quinta

In [ ]:
df.iloc[:,[3,4,5]]

      CAP  MUNICIPIO  ID_NIL
0   20121          1       2
1   20122          1       5
2   20122          1       1
3   20154          8      69
4   20121          1       4
..    ...        ...     ...
77  20144          6      44
78  20155          8      71
79  20135          5      27
80  20146          6      52
81  20159          9      12

[82 rows x 3 columns]

5. Visualizzare la terza e la sesta colonna

In [ ]:
df.iloc[:,[3,6]]

      CAP                                  NIL
0   20121                                BRERA
1   20122     PORTA VIGENTINA - PORTA LODOVICA
2   20122                                DUOMO
3   20154                                SARPI
4   20121                            GUASTALLA
..    ...                                  ...
77  20144           PORTA TICINESE - CONCHETTA
78  20155  VILLAPIZZONE - CAGNOLA - BOLDINASCO
79  20135                           PTA ROMANA
80  20146                           BANDE NERE
81  20159              MACIACHINI - MAGGIOLINA

[82 rows x 2 columns]

6. visualizzare la colonna dell'indirizzo e del municipio

In [ ]:
df[["Indirizzo", "MUNICIPIO"]]

                      Indirizzo  MUNICIPIO
0     BASTIONI DI PORTA VOLTA 7          1
1   CORSO DI PORTA VIGENTINA 35          1
2                CORSO ITALI 16          1
3             CORSO SEMPIONE 94          8
4              CORSO VENEZIA 42          1
..                          ...        ...
77              VIALE GORIZIA 6          6
78       VIALE MONTE CENERI SNC          8
79          VIALE SABOTINO 21/A          5
80       VIALE SAN GIMIGNANO 10          6
81               VIALE ZARA 131          9

[82 rows x 2 columns]

7. visualizzare la prima riga

In [ ]:
df.head(1)
df[:1]

                   Indirizzo  ...                               Location
0  BASTIONI DI PORTA VOLTA 7  ...  (45.47960100000006;9.182151000000033)

[1 rows x 10 columns]

8. visualizzare l'ultima riga

In [ ]:
df.tail(1)
df[-1:]

         Indirizzo  ...                               Location
81  VIALE ZARA 131  ...  (45.50019300000008;9.196686000000057)

[1 rows x 10 columns]

9. visualizzare la riga centrale

In [ ]:
print(len(df))
if len(df) % 2 == 0:
  print(df.loc[[len(df)//2 - 1]])
  print(df.loc[[len(df)//2 ]])
else:
  print(df.loc[[len(df)//2]])

82
                 Indirizzo  ...                               Location
40  VIA GIUSEPPE PECCHIO 1  ...  (45.48473100000007;9.215860500000076)

[1 rows x 10 columns]
                     Indirizzo  ...                               Location
41  VIA GIUSEPPE RIPAMONTI 167  ...  (45.43522200000007;9.201118500000064)

[1 rows x 10 columns]

10. visualizzare le righe 3, 4 e 12

In [ ]:
df.iloc[[3,4,12],:]

             Indirizzo  ...                               Location
3    CORSO SEMPIONE 94  ...   (45.48654000000005;9.15850800000004)
4     CORSO VENEZIA 42  ...  (45.47186100000005;9.202702500000044)
12  VIA APPENNINI 77/A  ...  (45.50207400000005;9.104292000000044)

[3 rows x 10 columns]

11. visualizzare le righe dalla decima alla quindicesima

In [ ]:
df[10:16]

                       Indirizzo  ...                                Location
10  VIA ALFREDO CAPPELLINI 17/19  ...   (45.48195000000004;9.201735000000042)
11        VIA ANDREA VOCHIERI 12  ...   (45.51414300000005;9.168682500000045)
12            VIA APPENNINI 77/A  ...   (45.50207400000005;9.104292000000044)
13                 VIA ARQUA' 14  ...    (45.49287600000008;9.22771350000005)
14        VIA BENOZZO GOZZOLI 51  ...   (45.45560700000004;9.090990000000033)
15             VIA BOVISASCA 173  ...  (45.519456269000045;9.152854782000077)

[6 rows x 10 columns]

12. visualizzare la colonna indirizzo e NIL delle righe dalla decima alla quindicesima

In [ ]:
df[10:16][["Indirizzo", "NIL"]]

                       Indirizzo                                                NIL
10  VIA ALFREDO CAPPELLINI 17/19                   STAZIONE CENTRALE - PONTE SEVESO
11        VIA ANDREA VOCHIERI 12                                             AFFORI
12            VIA APPENNINI 77/A  Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO
13                 VIA ARQUA' 14                          LORETO - CASORETTO - NOLO
14        VIA BENOZZO GOZZOLI 51           BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA
15             VIA BOVISASCA 173                                          BOVISASCA

13. visualizzare le colonne telefono e fax delle righe 3, 5 e 12

In [ ]:
df.iloc[[3,5,12]][["Telefono", "Fax"]]

       Telefono          Fax
3           NaN          NaN
5   02-47714011  02-47714047
12   02-3535414   02-3538072

14. visualizzare le colonne dalla 2 alla 6 delle righe dalla 3 alla 10

In [ ]:
df.iloc[3:11,2:7]

            Fax    CAP  MUNICIPIO  ID_NIL                               NIL
3           NaN  20154          8      69                             SARPI
4    02-7837251  20121          1       4                         GUASTALLA
5   02-47714047  20146          6      49                       GIAMBELLINO
6   02-42255247  20146          6      49                       GIAMBELLINO
7    02-3271232  20148          8      66                              QT 8
8   02-37790947  20158          9      78                            FARINI
9   02-26680123  20131          3      22                      CITTA' STUDI
10  02-67733147  20124          2      10  STAZIONE CENTRALE - PONTE SEVESO

15. visualizzare il numero di telefono dell'ufficio di piazza Napoli

In [ ]:
df[df["Indirizzo"].str.contains("PIAZZA NAPOLI")]["Telefono"]

6    02-42255211
Name: Telefono, dtype: object

16. visualizzare l'indirizzo e il numero di telefono degli uffici postali di Niguarda

In [ ]:
df[df["NIL"].str.contains("NIGUARDA")][["Indirizzo", "Telefono"]]

                 Indirizzo     Telefono
60            VIA PONALE 6  02-66100185
76  VIALE GIOVANNI SUZZANI   02-6470400

17. visualizzare l'indirizzo e il numero di telefono degli uffici postali dei municipi 1, 2 e 3

(ordinare in ordine decrescente su municipio)

In [ ]:
df[df["MUNICIPIO"].isin([1,2,3])][["Indirizzo","MUNICIPIO", "Telefono"]].sort_values("MUNICIPIO", ascending= False)

                       Indirizzo  MUNICIPIO     Telefono
40        VIA GIUSEPPE PECCHIO 1          3          NaN
27                 VIA DURAZZO 5          3  02-21040511
73         VIALE ANDREA DORIA 48          3   02-2047169
9                  VIA ADELCHI 2          3   02-2665192
64        VIA ROSOLINO PILO 19/A          3   02-2046789
16                VIA BRONZINO 7          3  02-29527423
55                 VIA ORTICA 19          3  02-70061332
71       VIA SCIPIONE PIATTOLI 6          2  02-26112432
67             VIA SAN MAMETE 16          2   02-2566786
59                VIA PINDARO 29          2          NaN
51                VIA MONDOVI' 2          2  02-26300993
46      VIA LUIGI VARANINI 26/28          2  02-28181611
75     VIALE EVARISTO STEFINI 12          2  02-67361911
13                 VIA ARQUA' 14          2  02-26141687
21           VIA COMUNE ANTICO 1          2  02-67070525
10  VIA ALFREDO CAPPELLINI 17/19          2   02-6773311
66                VIA SAMBUCO 15          1  02-89405932
2                 CORSO ITALI 16          1    02-804336
72                   VIA VIGNA 6          1  02-86396711
4               CORSO VENEZIA 42          1  02-76023056
69             VIA SANTA SOFIA 8          1  02-58318572
68         VIA SAN SIMPLICIANO 5          1  02-86396811
30      VIA FESTA DEL PERDONO 10          1  02-58207833
38        VIA GIOSUE' CARDUCCI 7          1  02-85917111
22                VIA CORDUSIO 4          1  02-72482126
25              VIA DELL'ORSO 11          1  02-80277311
49       VIA MAZZINI GIUSEPPE 15          1  02-86396911
26          VIA DELLA MOSCOVA 30          1          NaN
1    CORSO DI PORTA VIGENTINA 35          1  02-58320771
0      BASTIONI DI PORTA VOLTA 7          1   02-6572655

18. visualizzare gli uffici di cui non si conosce il numero di telefono o il fax

In [ ]:
df[df["Telefono"].isnull() | df["Fax"].isnull()]

                  Indirizzo  ...                                Location
3         CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
26     VIA DELLA MOSCOVA 30  ...  (45.476856000000055;9.189607500000022)
31  VIA FILIPPO SASSETTI 27  ...   (45.48825900000003;9.193140000000028)
40   VIA GIUSEPPE PECCHIO 1  ...   (45.48473100000007;9.215860500000076)
59           VIA PINDARO 29  ...   (45.51700500000004;9.229959000000065)

[5 rows x 10 columns]

In [ ]:
df[df.isna().any(axis = 1)]

                  Indirizzo  ...                                Location
3         CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
26     VIA DELLA MOSCOVA 30  ...  (45.476856000000055;9.189607500000022)
31  VIA FILIPPO SASSETTI 27  ...   (45.48825900000003;9.193140000000028)
40   VIA GIUSEPPE PECCHIO 1  ...   (45.48473100000007;9.215860500000076)
59           VIA PINDARO 29  ...   (45.51700500000004;9.229959000000065)

[5 rows x 10 columns]

19. visualizzare il numero di uffici per ogni Nucleo di IdentitÃ  Locale (NIL)

In [ ]:
df.groupby("NIL").count()[["Indirizzo"]].rename(columns={"Indirizzo":"NumeroUffici"})

                                                    NumeroUffici
NIL
ADRIANO                                                        1
AFFORI                                                         2
BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA                       2
BANDE NERE                                                     1
BOVISASCA                                                      1
BRERA                                                          4
BRUZZANO                                                       1
BUENOS AIRES - PORTA VENEZIA - PORTA MONFORTE                  4
CIMIANO - ROTTOLE - Q.RE FELTRE                                1
CITTA' STUDI                                                   1
CORSICA                                                        1
DE ANGELI - MONTE ROSA                                         1
DERGANO                                                        1
DUOMO                                                          7
FARINI                                                         1
FORZE ARMATE                                                   2
GIAMBELLINO                                                    3
GORLA - PRECOTTO                                               1
GRATOSOGLIO - Q.RE MISSAGLIA - Q.RE TERRAZZE                   1
GRECO - SEGNANO                                                1
GUASTALLA                                                      1
ISOLA                                                          3
LAMBRATE - ORTICA                                              1
LODI - CORVETTO                                                1
LORETO - CASORETTO - NOLO                                      2
MACIACHINI - MAGGIOLINA                                        2
MONCUCCO - SAN CRISTOFORO                                      1
MONLUE' - PONTE LAMBRO                                         1
NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE ...             2
PADOVA - TURRO - CRESCENZAGO                                   2
PAGANO                                                         1
PORTA GARIBALDI - PORTA NUOVA                                  1
PORTA GENOVA                                                   1
PORTA MAGENTA                                                  1
PORTA TICINESE - CONCA DEL NAVIGLIO                            1
PORTA TICINESE - CONCHETTA                                     1
PORTA VIGENTINA - PORTA LODOVICA                               1
PTA ROMANA                                                     1
Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO              2
QT 8                                                           1
QUARTO OGGIARO - VIALBA - MUSOCCO                              2
QUINTO ROMANO                                                  1
ROGOREDO - SANTA GIULIA                                        1
RONCHETTO SUL NAVIGLIO - Q.RE LODOVICO IL MORO                 1
SAN SIRO                                                       1
SARPI                                                          2
SCALO ROMANA                                                   1
STADERA - CHIESA ROSSA - Q.RE TORRETTA - CONCA ...             1
STAZIONE CENTRALE - PONTE SEVESO                               1
TIBALDI                                                        2
UMBRIA - MOLISE - CALVAIRATE                                   1
VIGENTINO - Q.RE FATIMA                                        1
VILLAPIZZONE - CAGNOLA - BOLDINASCO                            1
XXII MARZO                                                     2

20. visualizzare il numero di uffici per ogni Nucleo di IdentitÃ  Locale (NIL). Ordinare a partire dal NIL che ha piÃ¹ uffici in giÃ¹

In [ ]:
df.groupby("NIL").count().sort_values("Indirizzo", ascending = False)

                                                    Indirizzo  ...  Location
NIL                                                            ...
DUOMO                                                       7  ...         7
BRERA                                                       4  ...         4
BUENOS AIRES - PORTA VENEZIA - PORTA MONFORTE               4  ...         4
GIAMBELLINO                                                 3  ...         3
ISOLA                                                       3  ...         3
PADOVA - TURRO - CRESCENZAGO                                2  ...         2
NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE ...          2  ...         2
AFFORI                                                      2  ...         2
MACIACHINI - MAGGIOLINA                                     2  ...         2
LORETO - CASORETTO - NOLO                                   2  ...         2
Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO           2  ...         2
QUARTO OGGIARO - VIALBA - MUSOCCO                           2  ...         2
FORZE ARMATE                                                2  ...         2
XXII MARZO                                                  2  ...         2
TIBALDI                                                     2  ...         2
BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA                    2  ...         2
SARPI                                                       2  ...         2
SAN SIRO                                                    1  ...         1
PORTA TICINESE - CONCHETTA                                  1  ...         1
PORTA VIGENTINA - PORTA LODOVICA                            1  ...         1
VILLAPIZZONE - CAGNOLA - BOLDINASCO                         1  ...         1
VIGENTINO - Q.RE FATIMA                                     1  ...         1
PTA ROMANA                                                  1  ...         1
UMBRIA - MOLISE - CALVAIRATE                                1  ...         1
STAZIONE CENTRALE - PONTE SEVESO                            1  ...         1
QT 8                                                        1  ...         1
STADERA - CHIESA ROSSA - Q.RE TORRETTA - CONCA ...          1  ...         1
SCALO ROMANA                                                1  ...         1
QUINTO ROMANO                                               1  ...         1
ROGOREDO - SANTA GIULIA                                     1  ...         1
RONCHETTO SUL NAVIGLIO - Q.RE LODOVICO IL MORO              1  ...         1
PORTA MAGENTA                                               1  ...         1
PORTA TICINESE - CONCA DEL NAVIGLIO                         1  ...         1
ADRIANO                                                     1  ...         1
PORTA GENOVA                                                1  ...         1
PORTA GARIBALDI - PORTA NUOVA                               1  ...         1
BANDE NERE                                                  1  ...         1
BOVISASCA                                                   1  ...         1
BRUZZANO                                                    1  ...         1
CIMIANO - ROTTOLE - Q.RE FELTRE                             1  ...         1
CITTA' STUDI                                                1  ...         1
CORSICA                                                     1  ...         1
DE ANGELI - MONTE ROSA                                      1  ...         1
DERGANO                                                     1  ...         1
FARINI                                                      1  ...         1
GORLA - PRECOTTO                                            1  ...         1
GRATOSOGLIO - Q.RE MISSAGLIA - Q.RE TERRAZZE                1  ...         1
GRECO - SEGNANO                                             1  ...         1
GUASTALLA                                                   1  ...         1
LAMBRATE - ORTICA                                           1  ...         1
LODI - CORVETTO                                             1  ...         1
MONCUCCO - SAN CRISTOFORO                                   1  ...         1
PAGANO                                                      1  ...         1
MONLUE' - PONTE LAMBRO                                      1  ...         1

[54 rows x 9 columns]

21. visualizzare i municipi che hanno piÃ¹ di 10 uffici postali

In [ ]:
df.groupby("MUNICIPIO").count()

           Indirizzo  Telefono  Fax  ...  LONG_X_4326  LAT_Y_4326  Location
MUNICIPIO                            ...
1                 14        13   13  ...           14          14        14
2                  9         8    8  ...            9           9         9
3                  7         6    6  ...            7           7         7
4                  7         7    7  ...            7           7         7
5                  7         7    7  ...            7           7         7
6                  8         8    8  ...            8           8         8
7                  8         8    8  ...            8           8         8
8                  9         8    8  ...            9           9         9
9                 13        12   12  ...           13          13        13

[9 rows x 9 columns]

In [ ]:
df["MUNICIPIO"].value_counts()[df["MUNICIPIO"].value_counts() > 10]

1    14
9    13
Name: MUNICIPIO, dtype: int64

22. visualizzare il municipio che ha piÃ¹ uffici postali

In [ ]:
df.groupby("MUNICIPIO")["Indirizzo"].count().idxmax()

1

23. visualizzare il municipio che ha meno uffici postali

In [ ]:
df.groupby("MUNICIPIO")["Indirizzo"].count().idxmin()

3

24. visualizzare il numero medio di uffici postali in ogni municipio

In [ ]:
df.groupby("MUNICIPIO")["Indirizzo"].count().mean()

9.11111111111111

25. visualizzare gli uffici postali che hanno un numero di uffici postali superiore alla media

In [ ]:
#df.groupby("MUNICIPIO").count()["Indirizzo"] > df.groupby("MUNICIPIO").count()["Indirizzo"].mean()
df["MUNICIPIO"].value_counts()[df["MUNICIPIO"].value_counts() > df["MUNICIPIO"].value_counts().mean()]

1    14
9    13
Name: MUNICIPIO, dtype: int64

26. eliminare tutti i record relativi al NIL di Niguarda

27. eliminare le ultime tre colonne

In [ ]:
df = df.drop(columns= df.iloc[:,-3:])

28. eliminare i record di cui non si conosce il numero di telefono o il fax

In [ ]:
df.dropna(subset = ["Telefono","Fax"], inplace=True)
df

                               Indirizzo  ...                                Location
0              BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1            CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                         CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
4                       CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
5   LARGO GIOVANNI BATTISTA SCALABRINI 5  ...    (45.45039600000007;9.14118300000007)
..                                   ...  ...                                     ...
77                       VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78                VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79                   VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80                VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81                        VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[77 rows x 10 columns]

29. modificare il numero di telefono dell'ufficio di viale Zara in 02-69922222

In [ ]:
df = df.set_index("Indirizzo")
df.loc['VIALE ZARA 131','Telefono'] = "02-69922222"
df

#usa contains

                                         Telefono  ...                                Location
Indirizzo                                          ...
BASTIONI DI PORTA VOLTA 7              02-6572655  ...   (45.47960100000006;9.182151000000033)
CORSO DI PORTA VIGENTINA 35           02-58320771  ...   (45.45253800000006;9.196519500000022)
CORSO ITALI 16                          02-804336  ...   (45.45789300000007;9.187470000000076)
CORSO VENEZIA 42                      02-76023056  ...   (45.47186100000005;9.202702500000044)
LARGO GIOVANNI BATTISTA SCALABRINI 5  02-47714011  ...    (45.45039600000007;9.14118300000007)
...                                           ...  ...                                     ...
VIALE MONTE CENERI SNC                02-32671911  ...   (45.49156751800007;9.153591732000052)
VIALE SABOTINO 21/A                   02-58457911  ...  (45.451017000000036;9.200173500000062)
VIALE SAN GIMIGNANO 10                02-41411311  ...  (45.455868000000066;9.136525500000062)
VIALE ZARA 131                        02-69922222  ...   (45.50019300000008;9.196686000000057)
NaN                                   02-69922222  ...                                     NaN

[78 rows x 9 columns]

30. sostituire il trattino presente nei numeri di telefono con il carattere /

In [ ]:
df['Telefono'] = df['Telefono'].str.replace('-','/')
df

                                         Telefono  ...                                Location
Indirizzo                                          ...
BASTIONI DI PORTA VOLTA 7              02/6572655  ...   (45.47960100000006;9.182151000000033)
CORSO DI PORTA VIGENTINA 35           02/58320771  ...   (45.45253800000006;9.196519500000022)
CORSO ITALI 16                          02/804336  ...   (45.45789300000007;9.187470000000076)
CORSO VENEZIA 42                      02/76023056  ...   (45.47186100000005;9.202702500000044)
LARGO GIOVANNI BATTISTA SCALABRINI 5  02/47714011  ...    (45.45039600000007;9.14118300000007)
...                                           ...  ...                                     ...
VIALE MONTE CENERI SNC                02/32671911  ...   (45.49156751800007;9.153591732000052)
VIALE SABOTINO 21/A                   02/58457911  ...  (45.451017000000036;9.200173500000062)
VIALE SAN GIMIGNANO 10                02/41411311  ...  (45.455868000000066;9.136525500000062)
VIALE ZARA 131                        02/69922222  ...   (45.50019300000008;9.196686000000057)
NaN                                   02/69922222  ...                                     NaN

[78 rows x 9 columns]